<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.nodeclipse.ui.npm.LaunchConfigurationDelegate"
            id="org.nodeclipse.ui.npm.LaunchConfigurationType"
            modes="run, debug"
            name="NPM">
      </launchConfigurationType>
   </extension>
   <extension
         point= "org.eclipse.debug.ui.launchConfigurationTypeImages" >
      <launchConfigurationTypeImage
            configTypeID= "org.nodeclipse.ui.npm.LaunchConfigurationType"
            icon= "icons/npm/npm_bottom_right_corner_run_half_size.png"
            id= "org.nodeclipse.ui.npm.LaunchConfigurationTypeImage" >
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point= "org.eclipse.debug.ui.launchShortcuts" >
      <shortcut
            class= "org.nodeclipse.ui.npm.InstallLaunchShortcut"
            icon= "icons/npm/npm_bottom_right_corner_run_half_size.png"
            id= "org.nodeclipse.ui.npm.InstallLaunchShortcut"
            label= "npm install"
            modes= "run" >
         <configurationType
                id= "org.nodeclipse.ui.npm.LaunchConfigurationType" >
         </configurationType>
         <contextualLaunch>
              <enablement>
                 <with
                       variable= "selection" >
                    <count
                          value= "1" >
                    </count>
                    <iterate>
                       <and>
                          <instanceof value="org.eclipse.core.resources.IFile"/>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "package.json" >
                          </test>
                       </and>
                      </iterate>
                 </with>
              </enablement>
         </contextualLaunch>
       </shortcut>
   </extension>
   <extension
         point= "org.eclipse.debug.ui.launchShortcuts" >
      <shortcut
            class= "org.nodeclipse.ui.npm.LaunchShortcut"
            icon= "icons/npm/npm_bottom_right_corner_run_half_size.png"
            id= "org.nodeclipse.ui.npm.LaunchShortcut"
            label= "npm ..."
            modes= "run" >
         <configurationType
                id= "org.nodeclipse.ui.npm.LaunchConfigurationType" >
         </configurationType>
         <contextualLaunch>
              <enablement>
                 <with
                       variable= "selection" >
                    <count
                          value= "1" >
                    </count>
                    <iterate>
                       <and>
                          <instanceof value="org.eclipse.core.resources.IFile"/>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "package.json" >
                          </test>
                       </and>
                      </iterate>
                 </with>
              </enablement>
         </contextualLaunch>
       </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
          <launchConfigurationTabGroup
       		class= "org.nodeclipse.ui.npm.LaunchConfigurationTabGroup"
      		id= "org.nodeclipse.ui.npm.LaunchConfigurationTabGroup"
        	type= "org.nodeclipse.ui.npm.LaunchConfigurationType" >
		  </launchConfigurationTabGroup>
   </extension>
   <!-- 
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.nodeclipse.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.nodeclipse.ui.preferences.NodePreferencePage"
            id="org.nodeclipse.ui.preferences.NodePreferencePage"
            name="Nodeclipse">
      </page>
   </extension>
   -->
</plugin>
