<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.nodeclipse.enide.editors.jade.editors.JadeEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"            
            extensions="jade"
            id="org.nodeclipse.enide.editors.jade.editors.JadeEditor"
            default="true"
            name="Minimalist Jade Editor">
      </editor>
   </extension>
</plugin>
